body{
  background-color: aquamarine;
}

h1{
  text-align: center;
}

.App{
  width: 450px;
  height: 500px;
  background-color: white;
  margin: 100px auto;
  border-radius: 10px;
}

.inputs{
 
  text-align: center;
}

p{
  font-size: large;
  color: cadetblue;
}

input{
  width: 70%;
  height: 30px;
}

.output{
  margin-top: 20px;
  text-align: center;
}

button{
 
}

